{% extends "base.html" %}
{% block content %}
<h2>About Page</h2>
<p>
    The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
    recapturing his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely Mountain when
    Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
    Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
    Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
    action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to
    leave on other business, welcomed a fourteenth to fill into their party.
</p>

<!-- Thorin -->
<div class="row featurette">
    <div class="col-md-7">
        <h3>Thorin Oakenshield</h3>
        <p>
            In the year TA 2746, Thorin II was born to Dwarven prince Thráin II in the mountain city of The Lonely
            Mountain.
            Early in his youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug
            in TA
            2770. While in exile, he quickly grew to become a capable warrior. This was demonstrated when he
            participated in the
            Battle of Azanulbizar in TA 2799. He marched with one of the Dwarven armies beneath the East-gate of Moria.
            At some
            point in the fighting, his shield broke, and using an oaken tree branch found on the floor as a shield, he
            gained
            the epithet "Oakenshield," which would remain with him even in death.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/3/3f/ThorinBIG.jpg" alt="">
    </div>
</div>

<!-- Fili and Kili -->
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://vignette.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Fili and Kili</h3>
        <p>
            Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís. They were also nephews
            of
            Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing feature was his
            long
            nose,
            the longest of any of the Dwarves in Thorin's company. Fíli and Kíli were Dwarvern brothers and were also
            the
            youngest of the thirteen Dwarves who set out with Thorin Oakenshield's company, along with Gandalf and Bilbo
            Baggins, to reclaim the Lonely Mountain from the dragon Smaug.
        </p>
        <p>
            Fíli and Kíli were the two most active Dwarves of Thorin's company, and, apart from Balin and possibly
            Bombur, they appear more frequently as "individual" characters in J.R.R. Tolkien's The Hobbit than the
            rest of Thorin's companions, who are most often named only in group-reference. As the youngest Dwarves,
            Fíli and Kíli had the sharpest eyes, and were often sent scouting or searching. It was they that found
            the Front Porch while in the Misty Mountains. Both brothers were killed
            while defending the mortally wounded Thorin Oakenshield in the Battle of Five Armies, and all three were
            later buried with honor.
        </p>
    </div>
</div>

<!-- Óin -->
<div class="row featurette">
    <div class="col-md-7">
        <h3>Óin</h3>
        <p>
            Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle of Gimli. Óin's uncle was
            Fundin,
            the father of Balin and Dwalin. Óin fought in the Battle of Azanulbizar along with Thorin Oakenshield,
            and in TA 2941 joined Thorin's
            company on the quest to reclaim the Lonely Mountain, wearing a brown hood.[2] Óin was one of the Dwarves
            who bet that Bilbo would come along with them to reclaim the Lonely Mountain. Óin and his brother Glóin
            were usually in charge of preparing the fire for the Company, as they were the most skilled of the
            group. He fought in and survived the Battle of Five Armies, and later settled in the Lonely Mountain
            with King Dáin II Ironfoot, along with many other Dwarves of the company of Thorin.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://atolkienistperspective.files.wordpress.com/2013/08/oin-1.jpg" alt="">
    </div>
</div>

<!-- Glóin -->
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://www.theonering.net/torwp/wp-content/uploads/2010/11/gloin-peterhambleton-p.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Glóin</h3>
        <p>
            Glóin, son of Gróin was one of the Dwarves of Thorin II Oakenshield's company who set out to reclaim the
            Lonely Mountain in the Quest of Erebor. He was also the father of Gimli, who became a member of the
            Fellowship of the Ring.Glóin chiefly appears in The Hobbit as a supporting character. Glóin also appears
            in The Fellowship of the Ring during the Council of Elrond. lóin was born in TA 2783, after the dragon Smaug
            desolated Erebor. He was the younger child of Gróin and younger brother of Óin. In TA 2799, Glóin was known
            to have fought in the Battle of Azanulbizar, the last battle of the War of the Dwarves and Orcs, though it
            is unknown how significant his contribution was, being 16 years old.
        </p>
        <p>
            In TA 2879, in the Blue Mountains, while in exile, his son Gimli was born to him and an unknown wife. In
            March of TA 2941 in Bree, Thorin Oakenshield met by chance the wizard Gandalf the Grey, pushing Thorin to
            reclaim Erebor, so that Smaug wouldn't ally with Sauron. When Gandalf mentioned Hobbits, Glóin referred them
            as "simpletons" and also said that Hobbits "would never dare to come within smelling distance of the
            nakedest dragonet new from the shell".
        </p>
    </div>
</div>

<!-- Balin -->
<div class="row featurette">
    <div class="col-md-7">
        <h3>Balin</h3>
        <p>
            Balin was a Dwarf leader, the son of Fundin, and elder brother of Dwalin. He was one of the thirteen Dwarves
            who accompanied Thorin II Oakenshield on the quest to regain the Lonely Mountain. A Dwarf Lord known for his
            wise counsel and willingness to listen, he was one of Thorin's closest friends and advisers. Balin was
            distantly related to him, and a descendant of the noble House of Durin. He later went to re-establish the
            Dwarf presence in Moria, but within five years it was overcome once more by Orcs, and he was killed there
            along with the rest of his companions.
        </p>
        <p>
            Balin was likely born in the Lonely Mountain before the coming of the dragon Smaug. He had a younger brother
            named Dwalin, and was amongst those driven from their homes when Smaug attacked the Lonely Mountain.
            Afterwards, he may have lived in Dunland as a refugee, before fighting in the War of the Dwarves and Orcs
            which culminated in the Battle of Azanulbizar. Many years later, in approximately TA 2841, he accompanied
            Thráin II, the father of Thorin, when he attempted to go back to the Lonely Mountain himself, but Thráin was
            captured and lost.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://www.theonering.net/torwp/wp-content/uploads/2010/11/balin-kenstott-p.jpg" alt="">
    </div>
</div>

<!-- Dwalin -->
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://comicvine.gamespot.com/a/uploads/scale_super/11122/111221431/5420880-dwalin.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Dwalin</h3>
        <p>
            Dwalin was one of the Dwarves who traveled with Bilbo and Gandalf as a member of Thorin and Company on the
            quest to regain the Lonely Mountain from the Dragon Smaug. He was the brother of Balin and the youngest son
            of Fundin. Born in TA 2772, two years after the dragon Smaug had desolated Erebor, Dwalin was the son of
            Fundin and younger brother of Balin. After fighting in the Battle of Azanulbizar at the age of 27, Dwalin
            accompanied Thráin II and Thorin Oakenshield to settle peacefully in the northern Ered Luin. Later in TA
            2841, Dwalin, along with his brother Balin, and a few others accompanied Thráin when he left the Ered Luin
            on a Quest to reclaim Erebor.
        </p>
    </div>
</div>

<!-- Ori -->
<div class="row featurette">
    <div class="col-md-7">
        <h3>Ori</h3>
        <p>
            Ori was a member of Thorin's Company of Dwarves and participated in the Quest of Erebor, as well as fighting
            in and surviving the Battle of Five Armies. He, along with his cousins Dori and Nori, were remote kinsmen
            of Thorin II Oakenshield. Ori lived in Thorin's Halls in the northern Blue Mountains for many years,
            alongside his cousins: Dori and Nori. In the year TA 2941, Ori became a member of Thorin's Company and
            travelled with Thorin, Gandalf, Bilbo Baggins, and the other Dwarves on the quest for the Lonely Mountain,
            culminating in the death of Smaug.
        </p>
        <p>
            Finally, he and the other Dwarves of Thorin's Company fought in the
            Battle of Five Armies in TA 2942, which he survived. Ori lived in Thorin's Halls in the northern Blue
            Mountains for many years, alongside his cousins: Dori and Nori. In the year TA 2941, Ori became a member of
            Thorin's Company and travelled with Thorin, Gandalf, Bilbo Baggins, and the other Dwarves on the quest for
            the Lonely Mountain, culminating in the death of Smaug. Finally, he and the other Dwarves of Thorin's
            Company fought in the Battle of Five Armies in TA 2942, which he survived.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://www.theonering.net/torwp/wp-content/uploads/2010/11/ori-adambrown-p.jpg" alt="">
    </div>
</div>

<!-- Dori -->
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/43/636/desktop-wallpaper-dori-lotr-dori.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Dori</h3>
        <p>
            Dori was a Dwarf of Durin's Folk, who, along with his brother Nori and cousin Ori, travelled with Bilbo
            Baggins and Thorin Oakenshield as a member of Thorin's Company on theQuest for Erebor, to reclaim the Lonely
            Mountain from the dragon Smaug. Dori was among the Dwarves at Bag End who joined in singing about "blunting
            the knives" and "bending the forks"; as well as accompanying by playing the flute. He was described as
            “decent fellow despite his grumbling”. He often wore a red-violet coat while on the Quest for Erebor. He was
            noted by Thorin to be the strongest of the thirteen companions. Before the Quest of Erebor, Dori lived in
            Thorin's hall in the northern Blue Mountains with Nori and Ori.
        </p>
    </div>
</div>

<!-- Nori -->
<div class="row featurette">
    <div class="col-md-7">
        <h3>Nori</h3>
        <p>
            Nori was a Dwarf of Durin's Folk. He had a brother named Dori as well as a cousin named Ori, and was a
            remote kinsman of Thorin Oakenshield. He played the flute, and was very fond of regular and plentiful meals
            like his Hobbit friend, Bilbo Baggins. Nori, as was his brother Dori, was a capable flutist, and both seem
            to have carried their flutes with them. Both shared Bilbo's liking for regular meals. Before the Quest for
            the Lonely Mountain, Nori lived in Thorin's Halls in the northern Blue Mountains with his two brothers. Nori
            fought in and survived the Battle of Five Armies and returned to the Lonely Mountain where he established
            himself and grew rich.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/413/264/desktop-wallpaper-the-fates-of-the-lord-of-the-rings-and-hobbit-characters-nori-lotr.jpg"
            alt="">
    </div>
</div>

<!-- Bifur -->
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://pm1.aminoapps.com/7554/4caee9d381a6f041b0c6abc747cb78994256adbbr1-688-741v2_uhq.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Bifur</h3>
        <p>
            Bifur was a Dwarf of the late-Third Age. He is best known for being a companion to Bilbo Baggins and Thorin
            Oakenshield on the quest to regain the Lonely Mountain, along with his cousins Bofur and Bombur. Whilst he
            was a descendant of the Dwarves of Khazad-dûm, Bifur was not related to the royal House of Durin. Most of
            his familial relations are unclear, and what is known of his parentage is very little.
        </p>
        <p>
            He and his family were driven out of their home in the Lonely Mountain by the dragon Smaug, and were forced
            to live in exile, where the Dwarf warrior worked as a toy maker. Following Thorin II Oakenshield to a new
            life at his halls in the Blue Mountains, he continued his life as a toy maker. Answering Thorin
            Oakenshield's Quest of Erebor, he went to the meeting at Bag End with his cousins Bofur and Bombur, where he
            played the clarinet. On the quest, he was nearly cooked on a spit by Trolls and nearly killed by Goblins,
            Wargs, Stone giants, Great Spiders, and the dragon Smaug himself.
        </p>
    </div>
</div>

<!-- Bofur -->
<div class="row featurette">
    <div class="col-md-7">
        <h3>Bofur</h3>
        <p>
            Bofur was a Dwarf who lived in the late Third Age. He is best known as a companion of Bilbo Baggins, Thorin
            Oakenshield, and Gandalf on the quest to reclaim the Lonely Mountain from the dragon Smaug, along with his
            brother Bombur and cousin Bifur. Bofur was not related to the royal House of Durin but was descended from
            the Dwarves of Khazad-dûm. Little is told of his life after the Battle of Five Armies. Glóin reported to
            Frodo Baggins just before the Council of Elrond that Bofur was alive and prospering in Erebor. He may have
            lived into the early Fourth Age, but his time of death is untold.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/105/649/desktop-wallpaper-the-dwarves-of-the-hobbit-a-guide-to-the-characters-and-cast-bofur-lotr.jpg"
            alt="">
    </div>
</div>

<!-- Bombur -->
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/310/471/desktop-wallpaper-the-bombur.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>Bombur</h3>
        <p>
            Bombur was a Dwarf who accompanied Thorin Oakenshield and Bilbo Baggins on their quest to the Lonely
            Mountain as part of the company, alongside his brother Bofur and cousin Bifur. Bombur was noted as the
            fattest Dwarf in the company. Bombur's parentage is unknown. He was the brother of Bofur and cousin of
            Bifur. Bombur was not of Durin's line, although he was descended from the Dwarves of Khazad-dûm. His birth
            date is unknown, though it fell somewhere between TA 2763 and TA 2859; the brothers Fíli and Kíli were the
            youngest of the thirteen "by some fifty years," and, after Thorin was captured, Balin was "the eldest left."
            Fíli was born in TA 2859, and Balin was born in TA 2763.
        </p>
        <p>
            Bombur was thus roughly 150 years old during the quest. Prior to the journey, Bombur likely resided in the
            Blue Mountains alongside Thorin, after the loss of Thráin II.In The Lord of the Rings, many years later
            while in Rivendell, Frodo Baggins learned from Glóinthat Bombur had grown so fat it that it now took several
            Dwarves simply to lift him from his couch to the dinner table. It is unknown if Bombur fought in the Battle
            of Dale during the War of the Ring. According to The History of The Hobbit by John D. Rateliff, in the
            never-completed third revision of The Hobbit, Bombur, along with Bifur and Bofur, was to become an
            honour-guard of sorts to Thorin.
        </p>
    </div>
</div>

<!-- Bilbo Baggins -->
<div class="row featurette">
    <div class="col-md-7">
        <h3>Bilbo Baggins</h3>
        <p>
            Bilbo Baggins was a Hobbit of the Shire, the main protagonist of The Hobbit and a secondary character in The
            Lord of the Rings. Gandalf suggested to Thorin and Company that they hire Bilbo Baggins to be their burglar
            in the Quest of Erebor, and later fought in the Battle of Five Armies. Bilbo was also one of the bearers of
            the One Ring, and the first to voluntarily give it up, although with some difficulty. He wrote many of his
            adventures in a book he called There and Back Again. Bilbo adopted his second-cousin-once-removed Frodo
            Baggins to be his heir after his parents, Drogo and Primula, drowned in the Brandywine River.
        </p>
        <p>
            Bilbo was the first hobbit to become famous in the world at large, and one of the few to set foot in the
            Undying Lands. Bilbo Baggins was born on September 22 by Shire Reckoning (around September 12-14 of our
            calendar), in the year 2890 of the Third Age. He was the only son of Bungo Baggins and Belladonna Took. In
            Hobbiton, Bungo Baggins constructed a spacious and luxurious Hobbit-hole for Belladonna, which they named
            Bag End. The family moved to their new home, where Bilbo would spend much of his life.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://e0.pxfuel.com/wallpapers/508/431/desktop-wallpaper-bilbo-baggins-the-one-wiki-to-rule-them-all.jpg"
            alt="">
    </div>
</div>

<!-- Gandalf -->
<div class="row featurette">
    <div class="col-md-5">
        <img src="https://e0.pxfuel.com/wallpapers/200/303/desktop-wallpaper-the-hobbit-the-desolation-of-smaug-2013-phone-gandalf.jpg"
            alt="">
    </div>
    <div class="col-md-7">
        <h3>Gandalf</h3>
        <p>
            Gandalf, known temporarily as the Grey and later the White, and originally named Olórin (Quenya), was an
            Istar (Wizard), dispatched to Middle-earth in the Third Age to combat the threat of Sauron. He joined Thorin
            II Oakenshield and his company to reclaim the Lonely Mountain from Smaug, helped form the Fellowship of the
            Ring to destroy the One Ring, and led the Free Peoples in the final campaign of the War of the Ring.
            Originally called Olórin, he was accounted as the wisest of the Maiar. He was created by Ilúvatar before the
            Music of the Ainur, and was at the beginning of Time amongst the Ainur who entered into Eä. In his
            "youth" he became one of the Maiar who served Manwë, Varda, Irmo, and Nienna. He was associated with light
            and fire, much like Varda, yet his ways often took him to Nienna, from whom he learned pity and patience.
            He loved the Elves, but walked unseen among them, or wore the guise of an Elf, and sent them fair visions in
            their hearts that made them wiser.
        </p>
        <p>
            When the Valar decided to send the Istari (also called Wizards) to Middle-earth to counsel and assist all
            those who opposed the Dark Lord Sauron, Manwë and Varda included Olórin among the five to be sent. At first,
            Olórin was nervous and described himself as too weak and afraid of Sauron. Manwë understood, and told Olórin
            that such was a reason why he should go, to overcome that fear. Furthermore, the One Ring, containing much
            of Sauron's power, presumably still existed somewhere. Thus, Manwë insisted that Olórin should go as the
            third, but Varda convinced him to send Olórin as the second instead. He agreed, and prepared for Olórin's
            departure from the Undying Lands with the other four, arriving about the same time that the Necromancer
            appeared in Mirkwood.
        </p>
    </div>
</div>

{% endblock %}